body {
    padding-top: 54px;
}
.navbardropdown {
    max-height: 250px;
    overflow-y: scroll;
}
@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
    li.dropdown:hover > .dropdown-menu {
        display: block;
    }
    .navbardropdown {
        max-height: none;
        overflow-y: auto;
    }
}
/*.masthead {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
header.masthead>.overlay {
    padding: 5rem 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
}
@media (min-width: 992px) {
    header.masthead>.overlay {
        padding: 10rem 0;
    }
}*/
.navbar-logo {
    max-height: 27px;
}
.customlink {
    font: inherit;
    text-decoration: none;
}
.customlink:hover {
    font: inherit;
    text-decoration: none;
}
.dropdown-menu {
    border: none;
}
li.drop